.characters {
  display: table;
  padding: 10px 20px 40px;
  border-radius: 6px;
  box-shadow: 0 1px 15px rgba(27,31,35,0.15);
}

.character-item {
  padding: 8px 0;

  &:hover {
    background-color: #F5F5F5;
  }

  > span {
    color: red;
    cursor: pointer;
  }
}


